<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>_LeftTail</key>
  <string>_L_eftT_ail.glif</string>
  <key>_LrgSquareDot</key>
  <string>_L_rgS_quareD_ot.glif</string>
  <key>_beth</key>
  <string>_beth.glif</string>
  <key>_heth-init</key>
  <string>_heth-init.glif</string>
  <key>_heth-med</key>
  <string>_heth-med.glif</string>
  <key>_heth-med.1</key>
  <string>_heth-med.1.glif</string>
  <key>_qaph</key>
  <string>_qaph.glif</string>
  <key>_semkath</key>
  <string>_semkath.glif</string>
  <key>_shin</key>
  <string>_shin.glif</string>
  <key>_smDotsquare</key>
  <string>_smD_otsquare.glif</string>
  <key>_yudh-med</key>
  <string>_yudh-med.glif</string>
  <key>abbreviation-syriac</key>
  <string>abbreviation-syriac.glif</string>
  <key>alaph-syriac</key>
  <string>alaph-syriac.glif</string>
  <key>alaph-syriac.ccmp</key>
  <string>alaph-syriac.ccmp.glif</string>
  <key>alaph-syriac.fin2</key>
  <string>alaph-syriac.fin2.glif</string>
  <key>alaph-syriac.fin3</key>
  <string>alaph-syriac.fin3.glif</string>
  <key>alaph-syriac.fina</key>
  <string>alaph-syriac.fina.glif</string>
  <key>alaph-syriac.med2</key>
  <string>alaph-syriac.med2.glif</string>
  <key>alaphSuperscript-syriac</key>
  <string>alaphS_uperscript-syriac.glif</string>
  <key>beth-syriac</key>
  <string>beth-syriac.glif</string>
  <key>brevebelowcomb</key>
  <string>brevebelowcomb.glif</string>
  <key>colon</key>
  <string>colon.glif</string>
  <key>colonHorizontal-syriac</key>
  <string>colonH_orizontal-syriac.glif</string>
  <key>colonSkewedleft-syriac</key>
  <string>colonS_kewedleft-syriac.glif</string>
  <key>colonSkewedleftSupralinear-syriac</key>
  <string>colonS_kewedleftS_upralinear-syriac.glif</string>
  <key>colonSkewedright-syriac</key>
  <string>colonS_kewedright-syriac.glif</string>
  <key>colonSkewedrightSublinear-syriac</key>
  <string>colonS_kewedrightS_ublinear-syriac.glif</string>
  <key>colonSublinear-syriac</key>
  <string>colonS_ublinear-syriac.glif</string>
  <key>colonSupralinear-syriac</key>
  <string>colonS_upralinear-syriac.glif</string>
  <key>comma</key>
  <string>comma.glif</string>
  <key>comma-ar</key>
  <string>comma-ar.glif</string>
  <key>contraction-syriac</key>
  <string>contraction-syriac.glif</string>
  <key>dalath-syriac</key>
  <string>dalath-syriac.glif</string>
  <key>dalath-syriac.fina</key>
  <string>dalath-syriac.fina.glif</string>
  <key>dalath_hbasaEsasadotted-syriac</key>
  <string>dalath_hbasaE_sasadotted-syriac.glif</string>
  <key>dalath_hbasaEsasadotted-syriac.fina</key>
  <string>dalath_hbasaE_sasadotted-syriac.fina.glif</string>
  <key>dalathrishDotless-syriac</key>
  <string>dalathrishD_otless-syriac.glif</string>
  <key>dalathrishDotless-syriac.fina</key>
  <string>dalathrishD_otless-syriac.fina.glif</string>
  <key>dieresisbelowcomb</key>
  <string>dieresisbelowcomb.glif</string>
  <key>dieresiscomb</key>
  <string>dieresiscomb.glif</string>
  <key>dotaboveleftcomb</key>
  <string>dotaboveleftcomb.glif</string>
  <key>dotbelowcomb</key>
  <string>dotbelowcomb.glif</string>
  <key>dotbelowleftcomb</key>
  <string>dotbelowleftcomb.glif</string>
  <key>e-syriac</key>
  <string>e-syriac.glif</string>
  <key>e-syriac.fina</key>
  <string>e-syriac.fina.glif</string>
  <key>e-syriac.init</key>
  <string>e-syriac.init.glif</string>
  <key>e-syriac.medi</key>
  <string>e-syriac.medi.glif</string>
  <key>eastSyriacCross</key>
  <string>eastS_yriacC_ross.glif</string>
  <key>exclam</key>
  <string>exclam.glif</string>
  <key>exclamdown</key>
  <string>exclamdown.glif</string>
  <key>fullstopSublinear-syriac</key>
  <string>fullstopS_ublinear-syriac.glif</string>
  <key>fullstopSupralinear-syriac</key>
  <string>fullstopS_upralinear-syriac.glif</string>
  <key>gamal-syriac</key>
  <string>gamal-syriac.glif</string>
  <key>gamal-syriac.fina</key>
  <string>gamal-syriac.fina.glif</string>
  <key>gamal-syriac.init</key>
  <string>gamal-syriac.init.glif</string>
  <key>gamal-syriac.medi</key>
  <string>gamal-syriac.medi.glif</string>
  <key>gamalgarshuni-syriac</key>
  <string>gamalgarshuni-syriac.glif</string>
  <key>gamalgarshuni-syriac.fina</key>
  <string>gamalgarshuni-syriac.fina.glif</string>
  <key>gamalgarshuni-syriac.init</key>
  <string>gamalgarshuni-syriac.init.glif</string>
  <key>gamalgarshuni-syriac.medi</key>
  <string>gamalgarshuni-syriac.medi.glif</string>
  <key>glottalstopmod</key>
  <string>glottalstopmod.glif</string>
  <key>glottalstopreversedmod</key>
  <string>glottalstopreversedmod.glif</string>
  <key>harkleanAsteriscus-syriac</key>
  <string>harkleanA_steriscus-syriac.glif</string>
  <key>hbasaEsasadotted-syriac</key>
  <string>hbasaE_sasadotted-syriac.glif</string>
  <key>he-syriac</key>
  <string>he-syriac.glif</string>
  <key>he-syriac.fina</key>
  <string>he-syriac.fina.glif</string>
  <key>he_yudh-syriac</key>
  <string>he_yudh-syriac.glif</string>
  <key>heth-syriac</key>
  <string>heth-syriac.glif</string>
  <key>heth-syriac.fina</key>
  <string>heth-syriac.fina.glif</string>
  <key>heth-syriac.init</key>
  <string>heth-syriac.init.glif</string>
  <key>heth-syriac.medi</key>
  <string>heth-syriac.medi.glif</string>
  <key>kaph-syriac</key>
  <string>kaph-syriac.glif</string>
  <key>kaph-syriac.fina</key>
  <string>kaph-syriac.fina.glif</string>
  <key>kaph-syriac.init</key>
  <string>kaph-syriac.init.glif</string>
  <key>kaph-syriac.medi</key>
  <string>kaph-syriac.medi.glif</string>
  <key>lamadh-syriac</key>
  <string>lamadh-syriac.glif</string>
  <key>lamadh-syriac.fina</key>
  <string>lamadh-syriac.fina.glif</string>
  <key>lamadh-syriac.init</key>
  <string>lamadh-syriac.init.glif</string>
  <key>lamadh-syriac.medi</key>
  <string>lamadh-syriac.medi.glif</string>
  <key>lamadh_alaph-syriac</key>
  <string>lamadh_alaph-syriac.glif</string>
  <key>lamadh_alaph-syriac.fina</key>
  <string>lamadh_alaph-syriac.fina.glif</string>
  <key>mim-syriac</key>
  <string>mim-syriac.glif</string>
  <key>mim-syriac.fina</key>
  <string>mim-syriac.fina.glif</string>
  <key>mim-syriac.init</key>
  <string>mim-syriac.init.glif</string>
  <key>nun-syriac</key>
  <string>nun-syriac.glif</string>
  <key>nun-syriac.fina</key>
  <string>nun-syriac.fina.glif</string>
  <key>nun-syriac.init</key>
  <string>nun-syriac.init.glif</string>
  <key>nun-syriac.medi</key>
  <string>nun-syriac.medi.glif</string>
  <key>pe-syriac</key>
  <string>pe-syriac.glif</string>
  <key>pe-syriac.fina</key>
  <string>pe-syriac.fina.glif</string>
  <key>pe-syriac.init</key>
  <string>pe-syriac.init.glif</string>
  <key>pe-syriac.medi</key>
  <string>pe-syriac.medi.glif</string>
  <key>pthahaabove-syriac</key>
  <string>pthahaabove-syriac.glif</string>
  <key>pthahabelow-syriac</key>
  <string>pthahabelow-syriac.glif</string>
  <key>pthahadotted-syriac</key>
  <string>pthahadotted-syriac.glif</string>
  <key>qaph-syriac</key>
  <string>qaph-syriac.glif</string>
  <key>qaph-syriac.fina</key>
  <string>qaph-syriac.fina.glif</string>
  <key>qaph-syriac.init</key>
  <string>qaph-syriac.init.glif</string>
  <key>qaph-syriac.medi</key>
  <string>qaph-syriac.medi.glif</string>
  <key>question-ar</key>
  <string>question-ar.glif</string>
  <key>quotedblbase</key>
  <string>quotedblbase.glif</string>
  <key>quotedblrightreversed</key>
  <string>quotedblrightreversed.glif</string>
  <key>quotereversed</key>
  <string>quotereversed.glif</string>
  <key>quoteright</key>
  <string>quoteright.glif</string>
  <key>quotesinglbase</key>
  <string>quotesinglbase.glif</string>
  <key>quotesingle</key>
  <string>quotesingle.glif</string>
  <key>qushshaya-syriac</key>
  <string>qushshaya-syriac.glif</string>
  <key>rbasaabove-syriac</key>
  <string>rbasaabove-syriac.glif</string>
  <key>rbasabelow-syriac</key>
  <string>rbasabelow-syriac.glif</string>
  <key>ringhalfleftcentered</key>
  <string>ringhalfleftcentered.glif</string>
  <key>ringhalfrightcentered</key>
  <string>ringhalfrightcentered.glif</string>
  <key>rish-syriac</key>
  <string>rish-syriac.glif</string>
  <key>rish-syriac.fina</key>
  <string>rish-syriac.fina.glif</string>
  <key>rish_dieresiscomb-syriac</key>
  <string>rish_dieresiscomb-syriac.glif</string>
  <key>rish_dieresiscomb-syriac.fina</key>
  <string>rish_dieresiscomb-syriac.fina.glif</string>
  <key>rukkakha-syriac</key>
  <string>rukkakha-syriac.glif</string>
  <key>rukkakha-syriac.square</key>
  <string>rukkakha-syriac.square.glif</string>
  <key>rwaha-syriac</key>
  <string>rwaha-syriac.glif</string>
  <key>sadhe-syriac</key>
  <string>sadhe-syriac.glif</string>
  <key>sadhe-syriac.fina</key>
  <string>sadhe-syriac.fina.glif</string>
  <key>sadhe_nun-syriac</key>
  <string>sadhe_nun-syriac.glif</string>
  <key>sadhe_nun-syriac.fina</key>
  <string>sadhe_nun-syriac.fina.glif</string>
  <key>semicolon</key>
  <string>semicolon.glif</string>
  <key>semicolon-ar</key>
  <string>semicolon-ar.glif</string>
  <key>semkath-syriac</key>
  <string>semkath-syriac.glif</string>
  <key>semkath-syriac.fina</key>
  <string>semkath-syriac.fina.glif</string>
  <key>semkath-syriac.init</key>
  <string>semkath-syriac.init.glif</string>
  <key>semkath-syriac.medi</key>
  <string>semkath-syriac.medi.glif</string>
  <key>semkathFinal-syriac</key>
  <string>semkathF_inal-syriac.glif</string>
  <key>shadda-ar</key>
  <string>shadda-ar.glif</string>
  <key>shin-syriac</key>
  <string>shin-syriac.glif</string>
  <key>shin-syriac.init</key>
  <string>shin-syriac.init.glif</string>
  <key>shin-syriac.medi</key>
  <string>shin-syriac.medi.glif</string>
  <key>taw-syriac</key>
  <string>taw-syriac.glif</string>
  <key>taw_alaph-syriac</key>
  <string>taw_alaph-syriac.glif</string>
  <key>taw_alaph-syriac.fina</key>
  <string>taw_alaph-syriac.fina.glif</string>
  <key>taw_alaph-syriac.fina.triangle</key>
  <string>taw_alaph-syriac.fina.triangle.glif</string>
  <key>taw_alaph-syriac.fina.twined</key>
  <string>taw_alaph-syriac.fina.twined.glif</string>
  <key>taw_alaph-syriac.triangle</key>
  <string>taw_alaph-syriac.triangle.glif</string>
  <key>taw_alaph-syriac.twined</key>
  <string>taw_alaph-syriac.twined.glif</string>
  <key>taw_yudh-syriac</key>
  <string>taw_yudh-syriac.glif</string>
  <key>taw_yudh-syriac.fina</key>
  <string>taw_yudh-syriac.fina.glif</string>
  <key>teth-syriac</key>
  <string>teth-syriac.glif</string>
  <key>teth-syriac.fina</key>
  <string>teth-syriac.fina.glif</string>
  <key>teth-syriac.init</key>
  <string>teth-syriac.init.glif</string>
  <key>teth-syriac.medi</key>
  <string>teth-syriac.medi.glif</string>
  <key>tethGarshuni-syriac</key>
  <string>tethG_arshuni-syriac.glif</string>
  <key>tethGarshuni-syriac.fina</key>
  <string>tethG_arshuni-syriac.fina.glif</string>
  <key>tethGarshuni-syriac.init</key>
  <string>tethG_arshuni-syriac.init.glif</string>
  <key>tethGarshuni-syriac.medi</key>
  <string>tethG_arshuni-syriac.medi.glif</string>
  <key>threedotsabove-syriac</key>
  <string>threedotsabove-syriac.glif</string>
  <key>threedotsbelow-syriac</key>
  <string>threedotsbelow-syriac.glif</string>
  <key>twodotsverticalabove-syriac</key>
  <string>twodotsverticalabove-syriac.glif</string>
  <key>twodotsverticalbelow-syriac</key>
  <string>twodotsverticalbelow-syriac.glif</string>
  <key>waw-syriac</key>
  <string>waw-syriac.glif</string>
  <key>waw-syriac.fina</key>
  <string>waw-syriac.fina.glif</string>
  <key>westSyriacCross</key>
  <string>westS_yriacC_ross.glif</string>
  <key>yudh-syriac</key>
  <string>yudh-syriac.glif</string>
  <key>yudh-syriac.fina</key>
  <string>yudh-syriac.fina.glif</string>
  <key>yudh-syriac.init</key>
  <string>yudh-syriac.init.glif</string>
  <key>yudh-syriac.medi</key>
  <string>yudh-syriac.medi.glif</string>
  <key>yudhhe-syriac</key>
  <string>yudhhe-syriac.glif</string>
  <key>yudhhe-syriac.fina</key>
  <string>yudhhe-syriac.fina.glif</string>
  <key>zain-syriac</key>
  <string>zain-syriac.glif</string>
  <key>zain-syriac.fina</key>
  <string>zain-syriac.fina.glif</string>
  <key>zlamadottedangular-syriac</key>
  <string>zlamadottedangular-syriac.glif</string>
  <key>zlamadottedhorizontal-syriac</key>
  <string>zlamadottedhorizontal-syriac.glif</string>
  <key>zqaphaabove-syriac</key>
  <string>zqaphaabove-syriac.glif</string>
  <key>zqaphabelow-syriac</key>
  <string>zqaphabelow-syriac.glif</string>
  <key>zqaphadotted-syriac</key>
  <string>zqaphadotted-syriac.glif</string>
</dict>
</plist>
