<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>.notdef</key>
  <string>_notdef.glif</string>
  <key>A</key>
  <string>A_.glif</string>
  <key>AE</key>
  <string>A_E_.glif</string>
  <key>Aacute</key>
  <string>A_acute.glif</string>
  <key>Acircumflex</key>
  <string>A_circumflex.glif</string>
  <key>Adieresis</key>
  <string>A_dieresis.glif</string>
  <key>Agrave</key>
  <string>A_grave.glif</string>
  <key>Aring</key>
  <string>A_ring.glif</string>
  <key>Atilde</key>
  <string>A_tilde.glif</string>
  <key>B</key>
  <string>B_.glif</string>
  <key>C</key>
  <string>C_.glif</string>
  <key>Ccedilla</key>
  <string>C_cedilla.glif</string>
  <key>D</key>
  <string>D_.glif</string>
  <key>E</key>
  <string>E_.glif</string>
  <key>Eacute</key>
  <string>E_acute.glif</string>
  <key>Ecircumflex</key>
  <string>E_circumflex.glif</string>
  <key>Edieresis</key>
  <string>E_dieresis.glif</string>
  <key>Egrave</key>
  <string>E_grave.glif</string>
  <key>Eth</key>
  <string>E_th.glif</string>
  <key>F</key>
  <string>F_.glif</string>
  <key>G</key>
  <string>G_.glif</string>
  <key>H</key>
  <string>H_.glif</string>
  <key>I</key>
  <string>I_.glif</string>
  <key>Iacute</key>
  <string>I_acute.glif</string>
  <key>Icircumflex</key>
  <string>I_circumflex.glif</string>
  <key>Idieresis</key>
  <string>I_dieresis.glif</string>
  <key>Igrave</key>
  <string>I_grave.glif</string>
  <key>J</key>
  <string>J_.glif</string>
  <key>K</key>
  <string>K_.glif</string>
  <key>L</key>
  <string>L_.glif</string>
  <key>M</key>
  <string>M_.glif</string>
  <key>N</key>
  <string>N_.glif</string>
  <key>Ntilde</key>
  <string>N_tilde.glif</string>
  <key>O</key>
  <string>O_.glif</string>
  <key>OE</key>
  <string>O_E_.glif</string>
  <key>Oacute</key>
  <string>O_acute.glif</string>
  <key>Ocircumflex</key>
  <string>O_circumflex.glif</string>
  <key>Odieresis</key>
  <string>O_dieresis.glif</string>
  <key>Ograve</key>
  <string>O_grave.glif</string>
  <key>Ohm</key>
  <string>O_hm.glif</string>
  <key>Oslash</key>
  <string>O_slash.glif</string>
  <key>Otilde</key>
  <string>O_tilde.glif</string>
  <key>P</key>
  <string>P_.glif</string>
  <key>Q</key>
  <string>Q_.glif</string>
  <key>R</key>
  <string>R_.glif</string>
  <key>S</key>
  <string>S_.glif</string>
  <key>Scaron</key>
  <string>S_caron.glif</string>
  <key>T</key>
  <string>T_.glif</string>
  <key>Thorn</key>
  <string>T_horn.glif</string>
  <key>U</key>
  <string>U_.glif</string>
  <key>Uacute</key>
  <string>U_acute.glif</string>
  <key>Ucircumflex</key>
  <string>U_circumflex.glif</string>
  <key>Udieresis</key>
  <string>U_dieresis.glif</string>
  <key>Ugrave</key>
  <string>U_grave.glif</string>
  <key>V</key>
  <string>V_.glif</string>
  <key>VS1</key>
  <string>V_S_1.glif</string>
  <key>VS10</key>
  <string>V_S_10.glif</string>
  <key>VS11</key>
  <string>V_S_11.glif</string>
  <key>VS12</key>
  <string>V_S_12.glif</string>
  <key>VS13</key>
  <string>V_S_13.glif</string>
  <key>VS14</key>
  <string>V_S_14.glif</string>
  <key>VS15</key>
  <string>V_S_15.glif</string>
  <key>VS16</key>
  <string>V_S_16.glif</string>
  <key>VS2</key>
  <string>V_S_2.glif</string>
  <key>VS3</key>
  <string>V_S_3.glif</string>
  <key>VS4</key>
  <string>V_S_4.glif</string>
  <key>VS5</key>
  <string>V_S_5.glif</string>
  <key>VS6</key>
  <string>V_S_6.glif</string>
  <key>VS7</key>
  <string>V_S_7.glif</string>
  <key>VS8</key>
  <string>V_S_8.glif</string>
  <key>VS9</key>
  <string>V_S_9.glif</string>
  <key>W</key>
  <string>W_.glif</string>
  <key>X</key>
  <string>X_.glif</string>
  <key>Y</key>
  <string>Y_.glif</string>
  <key>Yacute</key>
  <string>Y_acute.glif</string>
  <key>Ydieresis</key>
  <string>Y_dieresis.glif</string>
  <key>Z</key>
  <string>Z_.glif</string>
  <key>Zcaron</key>
  <string>Z_caron.glif</string>
  <key>_LeftTail</key>
  <string>_L_eftT_ail.glif</string>
  <key>_LrgSquareDot</key>
  <string>_L_rgS_quareD_ot.glif</string>
  <key>_acute</key>
  <string>_acute.glif</string>
  <key>_acute.case</key>
  <string>_acute.case.glif</string>
  <key>_beth</key>
  <string>_beth.glif</string>
  <key>_breve</key>
  <string>_breve.glif</string>
  <key>_caron</key>
  <string>_caron.glif</string>
  <key>_caron.case</key>
  <string>_caron.case.glif</string>
  <key>_cedilla</key>
  <string>_cedilla.glif</string>
  <key>_cedilla.case</key>
  <string>_cedilla.case.glif</string>
  <key>_circumflex</key>
  <string>_circumflex.glif</string>
  <key>_circumflex.case</key>
  <string>_circumflex.case.glif</string>
  <key>_dieresis</key>
  <string>_dieresis.glif</string>
  <key>_dieresis.case</key>
  <string>_dieresis.case.glif</string>
  <key>_dot1</key>
  <string>_dot1.glif</string>
  <key>_dot_punct</key>
  <string>_dot_punct.glif</string>
  <key>_dotaccent</key>
  <string>_dotaccent.glif</string>
  <key>_dotaccent.i</key>
  <string>_dotaccent.i.glif</string>
  <key>_grave</key>
  <string>_grave.glif</string>
  <key>_grave.case</key>
  <string>_grave.case.glif</string>
  <key>_heth-init</key>
  <string>_heth-init.glif</string>
  <key>_heth-med</key>
  <string>_heth-med.glif</string>
  <key>_heth-med.1</key>
  <string>_heth-med.1.glif</string>
  <key>_hungarumlaut</key>
  <string>_hungarumlaut.glif</string>
  <key>_jdotless</key>
  <string>_jdotless.glif</string>
  <key>_macron</key>
  <string>_macron.glif</string>
  <key>_ogonek</key>
  <string>_ogonek.glif</string>
  <key>_qaph</key>
  <string>_qaph.glif</string>
  <key>_ringabv</key>
  <string>_ringabv.glif</string>
  <key>_ringabv.case</key>
  <string>_ringabv.case.glif</string>
  <key>_semkath</key>
  <string>_semkath.glif</string>
  <key>_shin</key>
  <string>_shin.glif</string>
  <key>_slashlong</key>
  <string>_slashlong.glif</string>
  <key>_slashlong.case</key>
  <string>_slashlong.case.glif</string>
  <key>_smDotsquare</key>
  <string>_smD_otsquare.glif</string>
  <key>_strokeshortcomb.case</key>
  <string>_strokeshortcomb.case.glif</string>
  <key>_tilde</key>
  <string>_tilde.glif</string>
  <key>_tilde.case</key>
  <string>_tilde.case.glif</string>
  <key>_yudh-med</key>
  <string>_yudh-med.glif</string>
  <key>a</key>
  <string>a.glif</string>
  <key>aacute</key>
  <string>aacute.glif</string>
  <key>abbreviation-syriac</key>
  <string>abbreviation-syriac.glif</string>
  <key>abbreviation-syriac.1.stch</key>
  <string>abbreviation-syriac.1.stch.glif</string>
  <key>abbreviation-syriac.2.stch</key>
  <string>abbreviation-syriac.2.stch.glif</string>
  <key>abbreviation-syriac.3.stch</key>
  <string>abbreviation-syriac.3.stch.glif</string>
  <key>abbreviation-syriac.4.stch</key>
  <string>abbreviation-syriac.4.stch.glif</string>
  <key>abbreviation-syriac.5.stch</key>
  <string>abbreviation-syriac.5.stch.glif</string>
  <key>acircumflex</key>
  <string>acircumflex.glif</string>
  <key>activateformshaping-ar</key>
  <string>activateformshaping-ar.glif</string>
  <key>acute</key>
  <string>acute.glif</string>
  <key>adieresis</key>
  <string>adieresis.glif</string>
  <key>ae</key>
  <string>ae.glif</string>
  <key>agrave</key>
  <string>agrave.glif</string>
  <key>alaph-syriac</key>
  <string>alaph-syriac.glif</string>
  <key>alaph-syriac.ccmp</key>
  <string>alaph-syriac.ccmp.glif</string>
  <key>alaph-syriac.fin2</key>
  <string>alaph-syriac.fin2.glif</string>
  <key>alaph-syriac.fin3</key>
  <string>alaph-syriac.fin3.glif</string>
  <key>alaph-syriac.fina</key>
  <string>alaph-syriac.fina.glif</string>
  <key>alaph-syriac.med2</key>
  <string>alaph-syriac.med2.glif</string>
  <key>alaphSuperscript-syriac</key>
  <string>alaphS_uperscript-syriac.glif</string>
  <key>ampersand</key>
  <string>ampersand.glif</string>
  <key>approxequal</key>
  <string>approxequal.glif</string>
  <key>approxequal.rtl</key>
  <string>approxequal.rtl.glif</string>
  <key>aring</key>
  <string>aring.glif</string>
  <key>asciicircum</key>
  <string>asciicircum.glif</string>
  <key>asciitilde</key>
  <string>asciitilde.glif</string>
  <key>asterisk</key>
  <string>asterisk.glif</string>
  <key>at</key>
  <string>at.glif</string>
  <key>atilde</key>
  <string>atilde.glif</string>
  <key>b</key>
  <string>b.glif</string>
  <key>backslash</key>
  <string>backslash.glif</string>
  <key>bar</key>
  <string>bar.glif</string>
  <key>barrekh-syriac</key>
  <string>barrekh-syriac.glif</string>
  <key>beth-syriac</key>
  <string>beth-syriac.glif</string>
  <key>beth-syriac.fina</key>
  <string>beth-syriac.fina.glif</string>
  <key>beth-syriac.init</key>
  <string>beth-syriac.init.glif</string>
  <key>beth-syriac.medi</key>
  <string>beth-syriac.medi.glif</string>
  <key>blank</key>
  <string>blank.glif</string>
  <key>braceleft</key>
  <string>braceleft.glif</string>
  <key>braceright</key>
  <string>braceright.glif</string>
  <key>bracketleft</key>
  <string>bracketleft.glif</string>
  <key>bracketright</key>
  <string>bracketright.glif</string>
  <key>breve</key>
  <string>breve.glif</string>
  <key>brevebelowcomb</key>
  <string>brevebelowcomb.glif</string>
  <key>brokenbar</key>
  <string>brokenbar.glif</string>
  <key>bullet</key>
  <string>bullet.glif</string>
  <key>bulletoperator</key>
  <string>bulletoperator.glif</string>
  <key>c</key>
  <string>c.glif</string>
  <key>caron</key>
  <string>caron.glif</string>
  <key>ccedilla</key>
  <string>ccedilla.glif</string>
  <key>cedilla</key>
  <string>cedilla.glif</string>
  <key>cent</key>
  <string>cent.glif</string>
  <key>circumflex</key>
  <string>circumflex.glif</string>
  <key>circumflexbelowcomb</key>
  <string>circumflexbelowcomb.glif</string>
  <key>colon</key>
  <string>colon.glif</string>
  <key>colon.latn</key>
  <string>colon.latn.glif</string>
  <key>colonHorizontal-syriac</key>
  <string>colonH_orizontal-syriac.glif</string>
  <key>colonSkewedleft-syriac</key>
  <string>colonS_kewedleft-syriac.glif</string>
  <key>colonSkewedleftSupralinear-syriac</key>
  <string>colonS_kewedleftS_upralinear-syriac.glif</string>
  <key>colonSkewedright-syriac</key>
  <string>colonS_kewedright-syriac.glif</string>
  <key>colonSkewedrightSublinear-syriac</key>
  <string>colonS_kewedrightS_ublinear-syriac.glif</string>
  <key>colonSublinear-syriac</key>
  <string>colonS_ublinear-syriac.glif</string>
  <key>colonSupralinear-syriac</key>
  <string>colonS_upralinear-syriac.glif</string>
  <key>comma</key>
  <string>comma.glif</string>
  <key>comma-ar</key>
  <string>comma-ar.glif</string>
  <key>contraction-syriac</key>
  <string>contraction-syriac.glif</string>
  <key>copyright</key>
  <string>copyright.glif</string>
  <key>currency</key>
  <string>currency.glif</string>
  <key>d</key>
  <string>d.glif</string>
  <key>dagger</key>
  <string>dagger.glif</string>
  <key>daggerdbl</key>
  <string>daggerdbl.glif</string>
  <key>dalath-syriac</key>
  <string>dalath-syriac.glif</string>
  <key>dalath-syriac.fina</key>
  <string>dalath-syriac.fina.glif</string>
  <key>dalath_hbasaEsasadotted-syriac</key>
  <string>dalath_hbasaE_sasadotted-syriac.glif</string>
  <key>dalath_hbasaEsasadotted-syriac.fina</key>
  <string>dalath_hbasaE_sasadotted-syriac.fina.glif</string>
  <key>dalathrishDotless-syriac</key>
  <string>dalathrishD_otless-syriac.glif</string>
  <key>dalathrishDotless-syriac.fina</key>
  <string>dalathrishD_otless-syriac.fina.glif</string>
  <key>degree</key>
  <string>degree.glif</string>
  <key>dieresis</key>
  <string>dieresis.glif</string>
  <key>dieresisbelowcomb</key>
  <string>dieresisbelowcomb.glif</string>
  <key>dieresiscomb</key>
  <string>dieresiscomb.glif</string>
  <key>divide</key>
  <string>divide.glif</string>
  <key>divisionslash</key>
  <string>divisionslash.glif</string>
  <key>dollar</key>
  <string>dollar.glif</string>
  <key>dotaboveleftcomb</key>
  <string>dotaboveleftcomb.glif</string>
  <key>dotaccent</key>
  <string>dotaccent.glif</string>
  <key>dotaccentcomb</key>
  <string>dotaccentcomb.glif</string>
  <key>dotbelowcomb</key>
  <string>dotbelowcomb.glif</string>
  <key>dotbelowleftcomb</key>
  <string>dotbelowleftcomb.glif</string>
  <key>dottedCircle</key>
  <string>dottedC_ircle.glif</string>
  <key>e</key>
  <string>e.glif</string>
  <key>e-syriac</key>
  <string>e-syriac.glif</string>
  <key>e-syriac.fina</key>
  <string>e-syriac.fina.glif</string>
  <key>e-syriac.init</key>
  <string>e-syriac.init.glif</string>
  <key>e-syriac.medi</key>
  <string>e-syriac.medi.glif</string>
  <key>eacute</key>
  <string>eacute.glif</string>
  <key>eastSyriacCross</key>
  <string>eastS_yriacC_ross.glif</string>
  <key>ecircumflex</key>
  <string>ecircumflex.glif</string>
  <key>edieresis</key>
  <string>edieresis.glif</string>
  <key>egrave</key>
  <string>egrave.glif</string>
  <key>eight</key>
  <string>eight.glif</string>
  <key>eight.cv02</key>
  <string>eight.cv02.glif</string>
  <key>ellipsis</key>
  <string>ellipsis.glif</string>
  <key>emdash</key>
  <string>emdash.glif</string>
  <key>emquad</key>
  <string>emquad.glif</string>
  <key>emspace</key>
  <string>emspace.glif</string>
  <key>endash</key>
  <string>endash.glif</string>
  <key>enquad</key>
  <string>enquad.glif</string>
  <key>enspace</key>
  <string>enspace.glif</string>
  <key>equal</key>
  <string>equal.glif</string>
  <key>esasaabove-syriac</key>
  <string>esasaabove-syriac.glif</string>
  <key>esasabelow-syriac</key>
  <string>esasabelow-syriac.glif</string>
  <key>eth</key>
  <string>eth.glif</string>
  <key>euro</key>
  <string>euro.glif</string>
  <key>exclam</key>
  <string>exclam.glif</string>
  <key>exclamdown</key>
  <string>exclamdown.glif</string>
  <key>f</key>
  <string>f.glif</string>
  <key>femininedot-syriac</key>
  <string>femininedot-syriac.glif</string>
  <key>fi</key>
  <string>fi.glif</string>
  <key>figuredash</key>
  <string>figuredash.glif</string>
  <key>figurespace</key>
  <string>figurespace.glif</string>
  <key>firststrongisolate</key>
  <string>firststrongisolate.glif</string>
  <key>five</key>
  <string>five.glif</string>
  <key>five.cv02</key>
  <string>five.cv02.glif</string>
  <key>fl</key>
  <string>fl.glif</string>
  <key>florin</key>
  <string>florin.glif</string>
  <key>four</key>
  <string>four.glif</string>
  <key>four.cv02</key>
  <string>four.cv02.glif</string>
  <key>four.dnom</key>
  <string>four.dnom.glif</string>
  <key>fourperemspace</key>
  <string>fourperemspace.glif</string>
  <key>foursuperior</key>
  <string>foursuperior.glif</string>
  <key>fraction</key>
  <string>fraction.glif</string>
  <key>fullstopSublinear-syriac</key>
  <string>fullstopS_ublinear-syriac.glif</string>
  <key>fullstopSupralinear-syriac</key>
  <string>fullstopS_upralinear-syriac.glif</string>
  <key>g</key>
  <string>g.glif</string>
  <key>gamal-syriac</key>
  <string>gamal-syriac.glif</string>
  <key>gamal-syriac.fina</key>
  <string>gamal-syriac.fina.glif</string>
  <key>gamal-syriac.init</key>
  <string>gamal-syriac.init.glif</string>
  <key>gamal-syriac.medi</key>
  <string>gamal-syriac.medi.glif</string>
  <key>gamalgarshuni-syriac</key>
  <string>gamalgarshuni-syriac.glif</string>
  <key>gamalgarshuni-syriac.fina</key>
  <string>gamalgarshuni-syriac.fina.glif</string>
  <key>gamalgarshuni-syriac.init</key>
  <string>gamalgarshuni-syriac.init.glif</string>
  <key>gamalgarshuni-syriac.medi</key>
  <string>gamalgarshuni-syriac.medi.glif</string>
  <key>germandbls</key>
  <string>germandbls.glif</string>
  <key>glottalstopmod</key>
  <string>glottalstopmod.glif</string>
  <key>glottalstopreversedmod</key>
  <string>glottalstopreversedmod.glif</string>
  <key>graphemejoinercomb</key>
  <string>graphemejoinercomb.glif</string>
  <key>grave</key>
  <string>grave.glif</string>
  <key>greater</key>
  <string>greater.glif</string>
  <key>greaterequal</key>
  <string>greaterequal.glif</string>
  <key>guillemetleft</key>
  <string>guillemetleft.glif</string>
  <key>guillemetright</key>
  <string>guillemetright.glif</string>
  <key>guilsinglleft</key>
  <string>guilsinglleft.glif</string>
  <key>guilsinglright</key>
  <string>guilsinglright.glif</string>
  <key>h</key>
  <string>h.glif</string>
  <key>hairspace</key>
  <string>hairspace.glif</string>
  <key>harkleanAsteriscus-syriac</key>
  <string>harkleanA_steriscus-syriac.glif</string>
  <key>harkleanMetobelus-syriac</key>
  <string>harkleanM_etobelus-syriac.glif</string>
  <key>harkleanObelus-syriac</key>
  <string>harkleanO_belus-syriac.glif</string>
  <key>hbasaEsasadotted-syriac</key>
  <string>hbasaE_sasadotted-syriac.glif</string>
  <key>hbasaabove-syriac</key>
  <string>hbasaabove-syriac.glif</string>
  <key>hbasabelow-syriac</key>
  <string>hbasabelow-syriac.glif</string>
  <key>he-syriac</key>
  <string>he-syriac.glif</string>
  <key>he-syriac.fina</key>
  <string>he-syriac.fina.glif</string>
  <key>he_yudh-syriac</key>
  <string>he_yudh-syriac.glif</string>
  <key>he_yudh-syriac.fina</key>
  <string>he_yudh-syriac.fina.glif</string>
  <key>heth-syriac</key>
  <string>heth-syriac.glif</string>
  <key>heth-syriac.fina</key>
  <string>heth-syriac.fina.glif</string>
  <key>heth-syriac.init</key>
  <string>heth-syriac.init.glif</string>
  <key>heth-syriac.medi</key>
  <string>heth-syriac.medi.glif</string>
  <key>horizontalbar</key>
  <string>horizontalbar.glif</string>
  <key>hungarumlaut</key>
  <string>hungarumlaut.glif</string>
  <key>hyphen</key>
  <string>hyphen.glif</string>
  <key>hyphenationpoint</key>
  <string>hyphenationpoint.glif</string>
  <key>hyphentwo</key>
  <string>hyphentwo.glif</string>
  <key>i</key>
  <string>i.glif</string>
  <key>iacute</key>
  <string>iacute.glif</string>
  <key>icircumflex</key>
  <string>icircumflex.glif</string>
  <key>idieresis</key>
  <string>idieresis.glif</string>
  <key>idotless</key>
  <string>idotless.glif</string>
  <key>igrave</key>
  <string>igrave.glif</string>
  <key>increment</key>
  <string>increment.glif</string>
  <key>infinity</key>
  <string>infinity.glif</string>
  <key>inhibitformshaping-ar</key>
  <string>inhibitformshaping-ar.glif</string>
  <key>integral</key>
  <string>integral.glif</string>
  <key>integral.rtl</key>
  <string>integral.rtl.glif</string>
  <key>j</key>
  <string>j.glif</string>
  <key>k</key>
  <string>k.glif</string>
  <key>kaph-syriac</key>
  <string>kaph-syriac.glif</string>
  <key>kaph-syriac.cv15</key>
  <string>kaph-syriac.cv15.glif</string>
  <key>kaph-syriac.fina</key>
  <string>kaph-syriac.fina.glif</string>
  <key>kaph-syriac.init</key>
  <string>kaph-syriac.init.glif</string>
  <key>kaph-syriac.medi</key>
  <string>kaph-syriac.medi.glif</string>
  <key>kashida-ar</key>
  <string>kashida-ar.glif</string>
  <key>kashida-ar.half</key>
  <string>kashida-ar.half.glif</string>
  <key>kashida-ar.quarter</key>
  <string>kashida-ar.quarter.glif</string>
  <key>kashida-ar.threequarter</key>
  <string>kashida-ar.threequarter.glif</string>
  <key>l</key>
  <string>l.glif</string>
  <key>lamadh-syriac</key>
  <string>lamadh-syriac.glif</string>
  <key>lamadh-syriac.fina</key>
  <string>lamadh-syriac.fina.glif</string>
  <key>lamadh-syriac.init</key>
  <string>lamadh-syriac.init.glif</string>
  <key>lamadh-syriac.medi</key>
  <string>lamadh-syriac.medi.glif</string>
  <key>lamadh_alaph-syriac</key>
  <string>lamadh_alaph-syriac.glif</string>
  <key>lamadh_alaph-syriac.fina</key>
  <string>lamadh_alaph-syriac.fina.glif</string>
  <key>lefttorightembedding</key>
  <string>lefttorightembedding.glif</string>
  <key>lefttorightisolate</key>
  <string>lefttorightisolate.glif</string>
  <key>lefttorightmark</key>
  <string>lefttorightmark.glif</string>
  <key>lefttorightoverride</key>
  <string>lefttorightoverride.glif</string>
  <key>less</key>
  <string>less.glif</string>
  <key>lessequal</key>
  <string>lessequal.glif</string>
  <key>lineseparator</key>
  <string>lineseparator.glif</string>
  <key>logicalnot</key>
  <string>logicalnot.glif</string>
  <key>lozenge</key>
  <string>lozenge.glif</string>
  <key>m</key>
  <string>m.glif</string>
  <key>macron</key>
  <string>macron.glif</string>
  <key>macronbelowcomb</key>
  <string>macronbelowcomb.glif</string>
  <key>macroncomb</key>
  <string>macroncomb.glif</string>
  <key>mark-ar</key>
  <string>mark-ar.glif</string>
  <key>micro</key>
  <string>micro.glif</string>
  <key>mim-syriac</key>
  <string>mim-syriac.glif</string>
  <key>mim-syriac.cv17</key>
  <string>mim-syriac.cv17.glif</string>
  <key>mim-syriac.fina</key>
  <string>mim-syriac.fina.glif</string>
  <key>mim-syriac.init</key>
  <string>mim-syriac.init.glif</string>
  <key>mim-syriac.medi</key>
  <string>mim-syriac.medi.glif</string>
  <key>minus</key>
  <string>minus.glif</string>
  <key>minusbelowcomb</key>
  <string>minusbelowcomb.glif</string>
  <key>multiply</key>
  <string>multiply.glif</string>
  <key>music-syriac</key>
  <string>music-syriac.glif</string>
  <key>music2-syriac</key>
  <string>music2-syriac.glif</string>
  <key>music3-syriac</key>
  <string>music3-syriac.glif</string>
  <key>n</key>
  <string>n.glif</string>
  <key>narrownbspace</key>
  <string>narrownbspace.glif</string>
  <key>nbspace</key>
  <string>nbspace.glif</string>
  <key>nine</key>
  <string>nine.glif</string>
  <key>nine.cv02</key>
  <string>nine.cv02.glif</string>
  <key>nonbreakinghyphen</key>
  <string>nonbreakinghyphen.glif</string>
  <key>notequal</key>
  <string>notequal.glif</string>
  <key>notequal.rtl</key>
  <string>notequal.rtl.glif</string>
  <key>ntilde</key>
  <string>ntilde.glif</string>
  <key>numbersign</key>
  <string>numbersign.glif</string>
  <key>nun-syriac</key>
  <string>nun-syriac.glif</string>
  <key>nun-syriac.cv18</key>
  <string>nun-syriac.cv18.glif</string>
  <key>nun-syriac.fina</key>
  <string>nun-syriac.fina.glif</string>
  <key>nun-syriac.init</key>
  <string>nun-syriac.init.glif</string>
  <key>nun-syriac.medi</key>
  <string>nun-syriac.medi.glif</string>
  <key>o</key>
  <string>o.glif</string>
  <key>oacute</key>
  <string>oacute.glif</string>
  <key>objectReplacementCharacter</key>
  <string>objectR_eplacementC_haracter.glif</string>
  <key>obliquelineabove-syriac</key>
  <string>obliquelineabove-syriac.glif</string>
  <key>obliquelinebelow-syriac</key>
  <string>obliquelinebelow-syriac.glif</string>
  <key>ocircumflex</key>
  <string>ocircumflex.glif</string>
  <key>odieresis</key>
  <string>odieresis.glif</string>
  <key>oe</key>
  <string>oe.glif</string>
  <key>ogonek</key>
  <string>ogonek.glif</string>
  <key>ograve</key>
  <string>ograve.glif</string>
  <key>one</key>
  <string>one.glif</string>
  <key>one.cv02</key>
  <string>one.cv02.glif</string>
  <key>one.numr</key>
  <string>one.numr.glif</string>
  <key>onehalf</key>
  <string>onehalf.glif</string>
  <key>onequarter</key>
  <string>onequarter.glif</string>
  <key>onesuperior</key>
  <string>onesuperior.glif</string>
  <key>ordfeminine</key>
  <string>ordfeminine.glif</string>
  <key>ordmasculine</key>
  <string>ordmasculine.glif</string>
  <key>oslash</key>
  <string>oslash.glif</string>
  <key>otilde</key>
  <string>otilde.glif</string>
  <key>overline</key>
  <string>overline.glif</string>
  <key>p</key>
  <string>p.glif</string>
  <key>paragraph</key>
  <string>paragraph.glif</string>
  <key>paragraph-syriac</key>
  <string>paragraph-syriac.glif</string>
  <key>paragraphseparator</key>
  <string>paragraphseparator.glif</string>
  <key>parenleft</key>
  <string>parenleft.glif</string>
  <key>parenright</key>
  <string>parenright.glif</string>
  <key>partialdiff</key>
  <string>partialdiff.glif</string>
  <key>partialdiff.rtl</key>
  <string>partialdiff.rtl.glif</string>
  <key>pe-syriac</key>
  <string>pe-syriac.glif</string>
  <key>pe-syriac.fina</key>
  <string>pe-syriac.fina.glif</string>
  <key>pe-syriac.init</key>
  <string>pe-syriac.init.glif</string>
  <key>pe-syriac.medi</key>
  <string>pe-syriac.medi.glif</string>
  <key>pe_brevebelowcomb-syriac</key>
  <string>pe_brevebelowcomb-syriac.glif</string>
  <key>pe_brevebelowcomb-syriac.fina</key>
  <string>pe_brevebelowcomb-syriac.fina.glif</string>
  <key>pe_brevebelowcomb-syriac.init</key>
  <string>pe_brevebelowcomb-syriac.init.glif</string>
  <key>pe_brevebelowcomb-syriac.medi</key>
  <string>pe_brevebelowcomb-syriac.medi.glif</string>
  <key>percent</key>
  <string>percent.glif</string>
  <key>period</key>
  <string>period.glif</string>
  <key>period.latn</key>
  <string>period.latn.glif</string>
  <key>periodcentered</key>
  <string>periodcentered.glif</string>
  <key>perthousand</key>
  <string>perthousand.glif</string>
  <key>pi</key>
  <string>pi.glif</string>
  <key>plus</key>
  <string>plus.glif</string>
  <key>plusminus</key>
  <string>plusminus.glif</string>
  <key>popdirectionalformatting</key>
  <string>popdirectionalformatting.glif</string>
  <key>popdirectionalisolate</key>
  <string>popdirectionalisolate.glif</string>
  <key>product</key>
  <string>product.glif</string>
  <key>pthahaabove-syriac</key>
  <string>pthahaabove-syriac.glif</string>
  <key>pthahabelow-syriac</key>
  <string>pthahabelow-syriac.glif</string>
  <key>pthahadotted-syriac</key>
  <string>pthahadotted-syriac.glif</string>
  <key>punctuationspace</key>
  <string>punctuationspace.glif</string>
  <key>q</key>
  <string>q.glif</string>
  <key>qaph-syriac</key>
  <string>qaph-syriac.glif</string>
  <key>qaph-syriac.fina</key>
  <string>qaph-syriac.fina.glif</string>
  <key>qaph-syriac.init</key>
  <string>qaph-syriac.init.glif</string>
  <key>qaph-syriac.medi</key>
  <string>qaph-syriac.medi.glif</string>
  <key>question</key>
  <string>question.glif</string>
  <key>question-ar</key>
  <string>question-ar.glif</string>
  <key>question.latn</key>
  <string>question.latn.glif</string>
  <key>questiondown</key>
  <string>questiondown.glif</string>
  <key>quotedbl</key>
  <string>quotedbl.glif</string>
  <key>quotedblbase</key>
  <string>quotedblbase.glif</string>
  <key>quotedblleft</key>
  <string>quotedblleft.glif</string>
  <key>quotedblright</key>
  <string>quotedblright.glif</string>
  <key>quotedblrightreversed</key>
  <string>quotedblrightreversed.glif</string>
  <key>quoteleft</key>
  <string>quoteleft.glif</string>
  <key>quotereversed</key>
  <string>quotereversed.glif</string>
  <key>quoteright</key>
  <string>quoteright.glif</string>
  <key>quotesinglbase</key>
  <string>quotesinglbase.glif</string>
  <key>quotesingle</key>
  <string>quotesingle.glif</string>
  <key>qushshaya-syriac</key>
  <string>qushshaya-syriac.glif</string>
  <key>r</key>
  <string>r.glif</string>
  <key>radical</key>
  <string>radical.glif</string>
  <key>radical.rtl</key>
  <string>radical.rtl.glif</string>
  <key>rbasaabove-syriac</key>
  <string>rbasaabove-syriac.glif</string>
  <key>rbasabelow-syriac</key>
  <string>rbasabelow-syriac.glif</string>
  <key>registered</key>
  <string>registered.glif</string>
  <key>replacementCharacter</key>
  <string>replacementC_haracter.glif</string>
  <key>reverseSolidusOperator</key>
  <string>reverseS_olidusO_perator.glif</string>
  <key>reversedpe-syriac</key>
  <string>reversedpe-syriac.glif</string>
  <key>reversedpe-syriac.fina</key>
  <string>reversedpe-syriac.fina.glif</string>
  <key>reversedpe-syriac.init</key>
  <string>reversedpe-syriac.init.glif</string>
  <key>reversedpe-syriac.medi</key>
  <string>reversedpe-syriac.medi.glif</string>
  <key>righttoleftembedding</key>
  <string>righttoleftembedding.glif</string>
  <key>righttoleftisolate</key>
  <string>righttoleftisolate.glif</string>
  <key>righttoleftmark</key>
  <string>righttoleftmark.glif</string>
  <key>righttoleftoverride</key>
  <string>righttoleftoverride.glif</string>
  <key>ring</key>
  <string>ring.glif</string>
  <key>ringbelowcomb</key>
  <string>ringbelowcomb.glif</string>
  <key>ringcomb</key>
  <string>ringcomb.glif</string>
  <key>ringhalfleftcentered</key>
  <string>ringhalfleftcentered.glif</string>
  <key>ringhalfrightcentered</key>
  <string>ringhalfrightcentered.glif</string>
  <key>rish-syriac</key>
  <string>rish-syriac.glif</string>
  <key>rish-syriac.fina</key>
  <string>rish-syriac.fina.glif</string>
  <key>rish_dieresiscomb-syriac</key>
  <string>rish_dieresiscomb-syriac.glif</string>
  <key>rish_dieresiscomb-syriac.fina</key>
  <string>rish_dieresiscomb-syriac.fina.glif</string>
  <key>rukkakha-syriac</key>
  <string>rukkakha-syriac.glif</string>
  <key>rukkakha-syriac.square</key>
  <string>rukkakha-syriac.square.glif</string>
  <key>rwaha-syriac</key>
  <string>rwaha-syriac.glif</string>
  <key>s</key>
  <string>s.glif</string>
  <key>sadhe-syriac</key>
  <string>sadhe-syriac.glif</string>
  <key>sadhe-syriac.fina</key>
  <string>sadhe-syriac.fina.glif</string>
  <key>sadhe_nun-syriac</key>
  <string>sadhe_nun-syriac.glif</string>
  <key>sadhe_nun-syriac.fina</key>
  <string>sadhe_nun-syriac.fina.glif</string>
  <key>scaron</key>
  <string>scaron.glif</string>
  <key>section</key>
  <string>section.glif</string>
  <key>semicolon</key>
  <string>semicolon.glif</string>
  <key>semicolon-ar</key>
  <string>semicolon-ar.glif</string>
  <key>semkath-syriac</key>
  <string>semkath-syriac.glif</string>
  <key>semkath-syriac.fina</key>
  <string>semkath-syriac.fina.glif</string>
  <key>semkath-syriac.init</key>
  <string>semkath-syriac.init.glif</string>
  <key>semkath-syriac.medi</key>
  <string>semkath-syriac.medi.glif</string>
  <key>semkathFinal-syriac</key>
  <string>semkathF_inal-syriac.glif</string>
  <key>semkathFinal-syriac.fina</key>
  <string>semkathF_inal-syriac.fina.glif</string>
  <key>semkathFinal-syriac.init</key>
  <string>semkathF_inal-syriac.init.glif</string>
  <key>semkathFinal-syriac.medi</key>
  <string>semkathF_inal-syriac.medi.glif</string>
  <key>seven</key>
  <string>seven.glif</string>
  <key>seven.cv02</key>
  <string>seven.cv02.glif</string>
  <key>shadda-ar</key>
  <string>shadda-ar.glif</string>
  <key>shin-syriac</key>
  <string>shin-syriac.glif</string>
  <key>shin-syriac.fina</key>
  <string>shin-syriac.fina.glif</string>
  <key>shin-syriac.init</key>
  <string>shin-syriac.init.glif</string>
  <key>shin-syriac.medi</key>
  <string>shin-syriac.medi.glif</string>
  <key>sidebearingleft</key>
  <string>sidebearingleft.glif</string>
  <key>sidebearingright</key>
  <string>sidebearingright.glif</string>
  <key>six</key>
  <string>six.glif</string>
  <key>six.cv02</key>
  <string>six.cv02.glif</string>
  <key>sixperemspace</key>
  <string>sixperemspace.glif</string>
  <key>slash</key>
  <string>slash.glif</string>
  <key>softhyphen</key>
  <string>softhyphen.glif</string>
  <key>space</key>
  <string>space.glif</string>
  <key>sterling</key>
  <string>sterling.glif</string>
  <key>summation</key>
  <string>summation.glif</string>
  <key>summation.rtl</key>
  <string>summation.rtl.glif</string>
  <key>t</key>
  <string>t.glif</string>
  <key>taw-syriac</key>
  <string>taw-syriac.glif</string>
  <key>taw-syriac.fina</key>
  <string>taw-syriac.fina.glif</string>
  <key>taw_alaph-syriac</key>
  <string>taw_alaph-syriac.glif</string>
  <key>taw_alaph-syriac.fina</key>
  <string>taw_alaph-syriac.fina.glif</string>
  <key>taw_alaph-syriac.fina.triangle</key>
  <string>taw_alaph-syriac.fina.triangle.glif</string>
  <key>taw_alaph-syriac.fina.twined</key>
  <string>taw_alaph-syriac.fina.twined.glif</string>
  <key>taw_alaph-syriac.triangle</key>
  <string>taw_alaph-syriac.triangle.glif</string>
  <key>taw_alaph-syriac.twined</key>
  <string>taw_alaph-syriac.twined.glif</string>
  <key>taw_yudh-syriac</key>
  <string>taw_yudh-syriac.glif</string>
  <key>taw_yudh-syriac.fina</key>
  <string>taw_yudh-syriac.fina.glif</string>
  <key>teth-syriac</key>
  <string>teth-syriac.glif</string>
  <key>teth-syriac.fina</key>
  <string>teth-syriac.fina.glif</string>
  <key>teth-syriac.init</key>
  <string>teth-syriac.init.glif</string>
  <key>teth-syriac.medi</key>
  <string>teth-syriac.medi.glif</string>
  <key>tethGarshuni-syriac</key>
  <string>tethG_arshuni-syriac.glif</string>
  <key>tethGarshuni-syriac.fina</key>
  <string>tethG_arshuni-syriac.fina.glif</string>
  <key>tethGarshuni-syriac.init</key>
  <string>tethG_arshuni-syriac.init.glif</string>
  <key>tethGarshuni-syriac.medi</key>
  <string>tethG_arshuni-syriac.medi.glif</string>
  <key>thinspace</key>
  <string>thinspace.glif</string>
  <key>thorn</key>
  <string>thorn.glif</string>
  <key>three</key>
  <string>three.glif</string>
  <key>three.cv02</key>
  <string>three.cv02.glif</string>
  <key>three.numr</key>
  <string>three.numr.glif</string>
  <key>threedotsabove-syriac</key>
  <string>threedotsabove-syriac.glif</string>
  <key>threedotsbelow-syriac</key>
  <string>threedotsbelow-syriac.glif</string>
  <key>threeperemspace</key>
  <string>threeperemspace.glif</string>
  <key>threequarters</key>
  <string>threequarters.glif</string>
  <key>threesuperior</key>
  <string>threesuperior.glif</string>
  <key>tilde</key>
  <string>tilde.glif</string>
  <key>tildebelowcomb</key>
  <string>tildebelowcomb.glif</string>
  <key>tildecomb</key>
  <string>tildecomb.glif</string>
  <key>topleftHalfBracket</key>
  <string>topleftH_alfB_racket.glif</string>
  <key>toprightHalfBracket</key>
  <string>toprightH_alfB_racket.glif</string>
  <key>trademark</key>
  <string>trademark.glif</string>
  <key>two</key>
  <string>two.glif</string>
  <key>two.cv02</key>
  <string>two.cv02.glif</string>
  <key>two.dnom</key>
  <string>two.dnom.glif</string>
  <key>twodotsverticalabove-syriac</key>
  <string>twodotsverticalabove-syriac.glif</string>
  <key>twodotsverticalbelow-syriac</key>
  <string>twodotsverticalbelow-syriac.glif</string>
  <key>twosuperior</key>
  <string>twosuperior.glif</string>
  <key>u</key>
  <string>u.glif</string>
  <key>uacute</key>
  <string>uacute.glif</string>
  <key>ucircumflex</key>
  <string>ucircumflex.glif</string>
  <key>udieresis</key>
  <string>udieresis.glif</string>
  <key>ugrave</key>
  <string>ugrave.glif</string>
  <key>underscore</key>
  <string>underscore.glif</string>
  <key>v</key>
  <string>v.glif</string>
  <key>w</key>
  <string>w.glif</string>
  <key>waw-syriac</key>
  <string>waw-syriac.glif</string>
  <key>waw-syriac.fina</key>
  <string>waw-syriac.fina.glif</string>
  <key>westSyriacCross</key>
  <string>westS_yriacC_ross.glif</string>
  <key>wordjoiner</key>
  <string>wordjoiner.glif</string>
  <key>x</key>
  <string>x.glif</string>
  <key>y</key>
  <string>y.glif</string>
  <key>yacute</key>
  <string>yacute.glif</string>
  <key>ydieresis</key>
  <string>ydieresis.glif</string>
  <key>yen</key>
  <string>yen.glif</string>
  <key>yudh-syriac</key>
  <string>yudh-syriac.glif</string>
  <key>yudh-syriac.fina</key>
  <string>yudh-syriac.fina.glif</string>
  <key>yudh-syriac.init</key>
  <string>yudh-syriac.init.glif</string>
  <key>yudh-syriac.medi</key>
  <string>yudh-syriac.medi.glif</string>
  <key>yudhhe-syriac</key>
  <string>yudhhe-syriac.glif</string>
  <key>yudhhe-syriac.fina</key>
  <string>yudhhe-syriac.fina.glif</string>
  <key>z</key>
  <string>z.glif</string>
  <key>zain-syriac</key>
  <string>zain-syriac.glif</string>
  <key>zain-syriac.fina</key>
  <string>zain-syriac.fina.glif</string>
  <key>zcaron</key>
  <string>zcaron.glif</string>
  <key>zero</key>
  <string>zero.glif</string>
  <key>zero.cv02</key>
  <string>zero.cv02.glif</string>
  <key>zeroWidthNoBreakSpace</key>
  <string>zeroW_idthN_oB_reakS_pace.glif</string>
  <key>zerowidthjoiner</key>
  <string>zerowidthjoiner.glif</string>
  <key>zerowidthnonjoiner</key>
  <string>zerowidthnonjoiner.glif</string>
  <key>zerowidthspace</key>
  <string>zerowidthspace.glif</string>
  <key>zlamadottedangular-syriac</key>
  <string>zlamadottedangular-syriac.glif</string>
  <key>zlamadottedhorizontal-syriac</key>
  <string>zlamadottedhorizontal-syriac.glif</string>
  <key>zqaphaabove-syriac</key>
  <string>zqaphaabove-syriac.glif</string>
  <key>zqaphabelow-syriac</key>
  <string>zqaphabelow-syriac.glif</string>
  <key>zqaphadotted-syriac</key>
  <string>zqaphadotted-syriac.glif</string>
</dict>
</plist>
